parameters:
  excludePaths:
    - '*/node_modules/*'
  ignoreErrors:
    # - message: "#Cannot access offset .* on mixed.#"
    #   path: **/src/Form/SettingsForm.php
    # - message: "#Cannot cast mixed to string#"
    #   path: **/src/Form/SettingsForm.php
    # - '#deprecated#'
    - "#^Unsafe usage of new static#"
  treatPhpDocTypesAsCertain: false
