/**
 * Used for shortened code paths to hint a title attribute exists for hovering.
 * - text-decoration-style support is still too low in 2016
 *
 * @see \Drupal\mongodb_watchdog\Controller\OverviewController::getEventSource()
 */
.mongodb-watchdog__code-path {
  background-clip: padding-box;
  border-bottom: 1px dotted;
  border-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.mongodb-watchdog__message {
  font-style: italic;
}

.mongodb-watchdog__severity--emergency {
  background: #ff2020;
}

.mongodb-watchdog__severity--alert {
  background: #ff80ff;
}
.mongodb-watchdog__severity--critical {
  background: #c0a0ff;
}

.mongodb-watchdog__severity--error {
  background: #ffb00d;
}

.mongodb-watchdog__severity--warning {
  background: #ffe080;
}

.mongodb-watchdog__severity--notice {
  background: #40a000;
}

.mongodb-watchdog__severity--info {
  background: #a0e0a0;
}

.mongodb-watchdog__severity--debug {
  background: #b0e0ff;
}
