/**
 * Used for shortened code paths to hint a title attribute exists for hovering.
 * - text-decoration-style support is still too low in 2016
 *
 * @see \Drupal\mongodb_watchdog\Controller\OverviewController::getEventSource()
 */
.mongodb-watchdog__code-path {
  background-clip: padding-box;
  border-bottom: 1px dotted;
  border-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.mongodb-watchdog__message {
  font-style: italic;
}

.mongodb-watchdog__severity--emergency {
  background: #FF2020;
}

.mongodb-watchdog__severity--alert {
  background: #FF80FF;
}
.mongodb-watchdog__severity--critical {
  background: #C0A0FF;
}

.mongodb-watchdog__severity--error {
  background: #FFB00D;
}

.mongodb-watchdog__severity--warning {
  background: #FFE080;
}

.mongodb-watchdog__severity--notice {
  background: #40A000;
}

.mongodb-watchdog__severity--info {
  background: #A0E0A0;
}

.mongodb-watchdog__severity--debug {
  background: #B0E0FF;
}
