@CHARSET "UTF-8";

/**
 * Defined in dblog.module, which is normally not enabled when mongodb_watchdog is.
 */
#edit-type-wrapper,
#edit-severity-wrapper {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
}
